*
    font-family "Proxima Nova"

@import "blocks/*"

.logoclass
    width 115px

.padreh1
    margin 0

.busqueda
    padding 8px
    -webkit-transition all 200ms ease 0s
    -moz-transition all 200ms ease 0s
    -o-transition all 200ms ease 0s
    transition: all 200ms ease 0s

.busqueda > a,.busqueda > span
    -webkit-transition all 200ms ease 0s
    -moz-transition all 200ms ease 0s
    -o-transition all 200ms ease 0s
    transition all 200ms ease 0s

.busqueda:hover
    background-color #EBECFF

.busqueda h4
    margin-top 0
    margin-bottom 8px

.busqueda > span
    margin 0 5px

.busqueda > a,.busqueda > span
    opacity 0

.busqueda:hover > a,.busqueda:hover > span
    opacity 1

.animado
    -webkit-transition all 200ms ease 0s
    -moz-transition all 200ms ease 0s
    -o-transition all 200ms ease 0s
    transition all 200ms ease 0s;

#butonbusqueda
    float right