.search-form
    form()
        input(type='text', class='awesomplete', id='campobusqueda', name='campobusqueda', onkeyup='searchInput();', list='mylist', data-minchars='3', data-maxitems='7')
        datalist(id='mylist')
        input(type='submit', id='butonbusqueda', name='enviar', value='Buscar', disabled='disabled')